/* RESET */

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* TYPO */

body{
    font-family: 'Montserrat', sans-serif;
}
.white{
    color: white;
}
.gray{
    color: #656565;
}

/* COMMONS */

header{
    position: fixed;
    z-index: 10;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100vw - 300px);
    height: 80px;
    background-color: #080b12;

}
main{
    display: flex;
    height: calc(100vh - 80px);

}
footer{
    width: 100%;
    position: fixed;
    height: 80px;
    background-color: #282828;
    display: flex;
    padding: 0 10px;
    align-items: center;
    color: white;
    z-index: 10;
}
aside{
    background-color: black;
    width: 300px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
h3{
    text-transform: uppercase;
}

/* HOVER EFFECTS */

a:hover, p:hover, i:hover{
    color: white;
}
.button:hover, .fa-circle-play:hover{
    transform: scale(1.2);
    cursor: pointer;
}

/* TOP PART ASIDE */

.logo-small{
    display: none;
}

.aside-content-top{
    padding: 20px 20px;
    flex-shrink: 0;
}
.aside-content-top ul li, .aside-content-middle ul li{
    list-style-type: none;
    padding: 10px 0;
}

.fa-circle-user{
    font-size: 40px;
    vertical-align: middle;
    padding-bottom: 5px;
}
.fa-house, .fa-magnifying-glass, .fa-lines-leaning{
    font-size: 20px;
    padding-right: 8px;
    vertical-align: middle;
}
.aside-content-top img{
    height: 60px;
    margin-bottom: 20px;
}
.v-line{
    position: absolute;
    left: 0;
    top: 110px;
    width: 5px;
    height: 30px;
    background-color: #adff2f;
}

/* CENTER PART ASIDE  */

.aside-content-middle{
    padding: 20px 20px;
    height: 30%;
    flex-grow: 1;
    flex-shrink: 0;
    overflow-y: auto;

}
.middle-top h3{
    margin-left: 20px;
    padding-bottom: 20px;
}

.middle-top li i {
    padding: 10px;
    cursor: pointer;
    background-color: #656565;
    margin-right: 8px;
    flex-shrink: 0;

}
.middle-top li i:hover {
    background-color: white;
    color: inherit;
}

/* BOTTOM PART ASIDE  */

.aside-content-bottom{
    flex-shrink: 0;
    padding: 20px;
}
.aside-content-bottom a{
    padding-left: 8px;

}
.aside-content-bottom hr{
    margin: 12px 0;
    width: 260px;
    background-color: #656565;
}

/* HEADER */

.button{
    background-color: inherit;
    border-radius: 20px;
    padding: 10px 20px;
    border: solid white 1px;
    margin-right: 20px;
}
.button a{
    text-transform: uppercase;
}

/* MAIN CONTENT */

nav ul li{
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    text-transform: uppercase;
}
nav{
    text-align: center;
    margin-bottom: 40px;
}
.v-line-2{
    width: 40px;
    height: 4px;
    background-color: #adff2f;
    margin: auto;
    margin-top: 5px;
}
.main-content{  
    width: calc(100% - 300px);
    padding-top: 80px;
    background-color: #141922;
    overflow-y: auto;
}
.row{
    display: flex;
    padding: 0 20px;
    flex-wrap: wrap;
}
.box{
    width: calc(100% / 6);
    margin: 40px 0;
    text-align: center;
    cursor: pointer;
    padding: 0 10px;
}
.box-img{
    position: relative;
}
.box-img img{
    display: block;
}
.box-img::after{
    content: "\f144";
    font-family: "Font Awesome 6 Free";
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.4);
    font-size: 60px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;

}
.box:hover .box-img::after{
    opacity: 1;
}
.box img{
    height: 200px;
    width: 100%;
    display: block;
}
h1{
    margin-left: 30px;
    margin-bottom: 15px;
}
.box h4{
    color: white;
    margin-top: 15px;
}
.box p{
    margin-top: 10px;
    color: #656565;
    font-weight: bold;
}
.radius{
    border-radius: 50%;
}
#fix{
    margin-left: 30px;
}
.name-txt a:hover{
    text-decoration: underline;
}

/* FOOTER */

.footer-center{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.footer-center i{
    padding: 0 10px;
    font-size: 20px;
}
#far{
    margin: 0 10px 0 10px;
    font-size: 40px;
}
.footer-right{
    width: 25%;
}
.footer-left{
    width: 25%;
    display: flex;
}
.footer-left-icon{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    font-size: 20px;
}
.footer-right{
    text-align: right;
}
.footer-logo img{
    height: 50px;
    vertical-align: middle;
}
.footer-txt{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
}
.minutes{
    margin-top: 10px;
    position: relative;
}
.bar{
    width: 65%;
    height: 5px;
    display: inline-block;
    background-color: #656565;
    vertical-align: middle;
    margin: 0 10px;
    cursor: pointer;
}
.bar-inside{
    background-color: #c1c1c1;
    height: 5px;
    width: 20%;
}
.bar-inside:hover .dot::after, .bar-inside:hover .dot2::after{
    background-color: #adff2f;
    color: #adff2f;
}
.dot::after{
    content: "\f111";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    border-radius: 100%;
    color: transparent;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 1;
    position: absolute;
    font-size: 15px;
}
.bar-inside:hover{
    background-color: #adff2f;
}

.footer-right a{
    margin-right: 10px;
}
.bar-volume{
    background-color: #656565;
    height: 5px;
    display: inline-block;
    vertical-align: middle;
    width: 38%;
    cursor: pointer;
    position: relative;
}
.volume{
    position: relative;
}
.dot2::after{
    content: "\f111";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    border-radius: 100%;
    color: transparent;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 10px;

}

/* RESPONSIVE */

/* 1100px BREAKPOINT  */
@media screen and (max-width: 1100px){
    .box {
        width: calc(100% / 4);
    }
    .footer-left{
        width: 33%;
    }
}

/* 700px BREAKPOINT */

@media screen and (max-width: 700px){
    .box {
        width: calc(100% / 2);
    }
    .footer-center i{
        padding: 0 5px;
        font-size: 15px;
    }
    #far{
        margin: 0 5px 0 5px;
        font-size: 30px;
    }
    .bar{
        width: 50%;
        margin: 0;
    }
    .footer-left{
        width: 40%;
    }
}

/* 600px BREAKPOINT */

@media screen and (max-width: 600px){
    aside{
        width: 50px;
    }
    .aside-content-top a, .aside-content-middle, .middle-top, .v-line, .aside-content-top img, hr, .aside-content-bottom a{
        display: none;
    }
    footer, .main-content, header{
        min-width: calc(100vw - 50px);
    }
    .aside-content-top, .aside-content-top i{
        padding: 0;
    
    }
    .aside-content-top{
        flex-grow: 1;
    }
    .aside-content-top ul li{
        text-align: center;
        cursor: pointer;
    }
    .logo-small{
        text-align: center;
        width: 40px;
        display: block;
        align-self: center;
        cursor: pointer;
    }

    .aside-content-bottom{
        padding: 0;
        text-align: center;
    }
    .fa-circle-user{
        font-size: 30px;
        margin-top: 20px;
        cursor: pointer;
    }
    .fa-circle-arrow-down{
        cursor: pointer;
    }
    

}