/* RESET */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/* TYPO */
body{
    font-family: 'Montserrat', sans-serif;
}
/* COMMONS */

header{
    position: fixed;
    z-index: 10;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100vw - 300px);
    height: 80px;
    background-color: #080b12;

}
main{
    display: flex;
    height: calc(100vh - 80px);

}
footer{
    width: 100%;
    position: fixed;
    height: 80px;
    background-color: #282828;
    display: flex;
    padding: 0 10px;
    align-items: center;
    color: white;
    z-index: 10;
}
aside{
    background-color: black;
    width: 300px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: white;
}
.white{
    color: white;
}
.gray{
    color: #656565;
}

.aside-content-top ul li, .aside-content-middle ul li{
    list-style-type: none;
    padding: 10px 0;
}

.fa-circle-user{
    font-size: 40px;
    vertical-align: middle;
    padding-bottom: 5px;
}
.fa-house, .fa-magnifying-glass, .fa-lines-leaning{
    font-size: 20px;
    padding-right: 8px;
    vertical-align: middle;
}
h3{
    text-transform: uppercase;
}
 /* TOP PART ASIDE */
.aside-content-top{
    padding: 20px 20px;
    flex-shrink: 0;
}
.aside-content-top img{
    height: 60px;
    margin-bottom: 20px;
}
.v-line{
    position: absolute;
    left: 0;
    top: 110px;
    width: 5px;
    height: 30px;
    background-color: #adff2f;
}
/* CENTER PART ASIDE  */
.aside-content-middle{
    padding: 20px;
    height: 30%;
    flex-grow: 1;
    flex-shrink: 0;
    overflow-y: auto;
}
.aside-content-middle ul li i {
    padding: 10px;
    background-color: #656565;
    margin-right: 8px;
    flex-shrink: 0;
}
/* BOTTOM PART ASIDE  */
.aside-content-bottom{
    flex-shrink: 0;
    padding: 20px;
}
.aside-content-bottom a{
    padding-left: 8px;

}
.aside-content-bottom hr{
    margin: 12px 0;
    width: 260px;
    background-color: #656565;
}
/* HEADER */
.button{
    background-color: inherit;
    border-radius: 20px;
    padding: 10px 20px;
    border: solid white 1px;
}
.button a{
    text-transform: uppercase;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    text-transform: uppercase;
}
nav{
    text-align: center;
    margin-bottom: 40px;
}
.v-line-2{
    width: 40px;
    height: 4px;
    background-color: #adff2f;
    margin: auto;
    margin-top: 5px;
}
.footer-center{
    width: 50%;
    text-align: center;
}
.footer-center i{
    margin: 0 20px;
    font-size: 25px;
}
#far{
    margin: 0 30px 0 30px;
    font-size: 40px;
}
.footer-left, .footer-right{
    width: 25%;
}
.footer-right{
    text-align: right;
}
.footer-icon{
    display: inline-block;
}
.footer-icon img{
    height: 40px;
}
.footer-txt{
    display: inline-block;
    margin-left: 10px;
}
.fa-heart{
    margin-left: 50px;
    margin-right: 20px;
    font-size: 20px;
    vertical-align: super;
}
.fa-folder{
    font-size: 20px;
    vertical-align: super;
}
.minutes{
    margin-top: 10px;
}

.bar{
    width: 65%;
    height: 5px;
    display: inline-block;
    background-color: #656565;
    vertical-align: middle;
    margin: 0 20px;
}
.bar-inside{
    background-color: #c1c1c1;
    height: 5px;
    width: 20%;
}
.footer-right a{
    margin-right: 10px;
}
.bar-volume{
    background-color: #656565;
    height: 5px;
    display: inline-block;
    vertical-align: middle;
    width: 38%;
}
.main-content{
    width: calc(100% - 300px);
    padding-top: 80px;
    background-color: #141922;
    overflow-y: auto;
}
.row{
    display: flex;
    padding: 0 20px
}
.box{
    width: calc(100% / 6);
    margin: 40px 0;
    text-align: center;
    cursor: pointer;
}
.box img{
    height: 200px;
    width: 90%;
}
h1{
    margin-left: 30px;
    margin-bottom: 15px;
}
.box h4{
    color: white;
    margin-top: 15px;
}
.box p{
    margin-top: 10px;
    color: #656565;
    font-weight: bold;
}
#radius{
    border-radius: 100%;
}
#fix{
    margin-left: 30px;
}